<template>
    <Page class="page">
        <ActionBar title="Informacion" height="60" backgroundColor="#4688F1">
            <NavigationButton text="Atras" icon="res://ic_atras" @tap="$navigateBack" />
        </ActionBar>
        <FlexboxLayout flexDirection="column" backgroundColor="#000">
            <Image src="~/images/logo-tp-withe.png" />
            <Image src="~/images/logo_asocabo.png" />

        </FlexboxLayout>
    </Page>
</template>

<script>
    export default {
        name: "info"
    }
</script>

<style scoped>

</style>