<template>
    <Page class="page">
        <ActionBar :title="id.Descripcion" height="60" :backgroundColor="id.Color">
            <NavigationButton text="Atras" icon="res://ic_atras" @tap="$navigateBack" />
        </ActionBar>
        <FlexboxLayout flexDirection="column">

            <Pager for="item in items">
                <v-template>
                    <ScrollView >
                        <StackLayout >
                            <ScrollView orientation="horizontal">
                                <FlexboxLayout>
                                    <Image v-if="img.Tipo==='Imagen'" :src="getImagen(img)" :width="width" :height="height" v-for="(img,i) in item.Galeria" stretch="aspectFill"/>
                                    <WebView v-if="video.Tipo==='Video'" :src="youtube(video.src)" :width="width" v-for="(video,i) in item.Galeria"/>

                                </FlexboxLayout>
                            </ScrollView>

                            <Label :text="item.Titulo" horizontalAlignment="center" fontWeight="bold" fontSize="20" marginTop="30"/>
                            <Label :text="item.Descripcion" textWrap="true" horizontalAlignment="center"  fontSize="15" margin="16"/>

                            <WrapLayout v-if="item.Tags">
                                <Label v-for="(tags,i) in item.Tags" :text="tags" width="33.3%"  fontWeight="bold"  padding="5" textWrap="true" textAlignment="center"/>
                            </WrapLayout>

                            <StackLayout v-if="item.Contacto">

                                <Label text="Datos Contacto" horizontalAlignment="center" fontWeight="bold" fontSize="20" marginTop="30"/>

                                <StackLayout margin="16">
                                    <Label :text="item.Contacto.Nombre" textWrap="true" fontSize="15" />
                                    <Label :text="item.Contacto.Telefonos" textWrap="true" fontSize="15" />
                                    <Label :text="item.Contacto.Correo" textWrap="true" fontSize="15" />
                                </StackLayout>

                                <GridLayout columns="*,*" rows="*">
                                    <Button text="Whatsapp" row="0" col="0" backgroundColor="#43b883" @tap="enviarWhatsapp(item.Contacto.Whatsapp)"/>
                                    <Button text="Agregar Contacto" row="0" col="1" backgroundColor="#1c6b48" @tap="llamar(item.Contacto.Telefonos)"/>
                                </GridLayout>
                            </StackLayout>
                        </StackLayout>
                    </ScrollView>
                </v-template>
            </Pager>
        </FlexboxLayout>
    </Page>
    
</template>

<script>
    import { screen } from 'tns-core-modules/platform'
    import * as TNSPhone from 'nativescript-phone';
    import { openUrl } from "tns-core-modules/utils/utils";
    import * as fs from "file-system";
    import * as imageSourceModule  from "tns-core-modules/image-source";

    // import  httpModule from 'http';

    export default {
        name: "ListaPost",
        props: ['id'],
        computed:{
            items(){
                return this.$lodash.filter(this.$store.getters[this.$types.gettersPosts],{'Categoria':this.id.Uid})
            }
        },
        data(){
            return{
                width:screen.mainScreen.widthDIPs,
                height:(screen.mainScreen.heightDIPs/2),
            }
        },
        methods:{
            getImagen(imagen){
                this.documents = fs.knownFolders.documents();
                let path = fs.path.join(this.documents.path, imagen.name+".jpg");
                let exists = fs.File.exists(path);
                if(exists){
                    return path
                }else{
                    imageSourceModule.fromUrl(imagen.src)
                        .then((imageSource) => {
                            this.documents = fs.knownFolders.documents();
                            let path = fs.path.join(this.documents.path, imagen.name+".jpg");
                            const saved = imageSource.saveToFile(path, "jpg");
                            if (saved) {
                                console.log("Image saved successfully!");
                            }
                        }).catch(error=>console.log(error))
                    return imagen.src;
                }
            },
            myChangeEvent(args){
                var changeEventText = "Page changed to index: " + args.index;
                console.log(changeEventText);

            },
            youtube(id){
                return '<iframe width="100%" height="100%" src="https://www.youtube.com/embed/'+id+'" frameborder="0" allowfullscreen></iframe>'
            },
             llamar(numero) {
               TNSPhone.dial(numero, true);
             },
            enviarWhatsapp(Numero){
                openUrl("https://api.whatsapp.com/send?phone=57"+Numero)
            }
    }

    }

</script>

<style scoped>
.info{
    text-align: center;
    font:bold 12px "Noto";
}
</style>