<template>
  <Page class="page">
    <ActionBar title="Como llegar" height="60" backgroundColor="#4688F1">
      <NavigationButton text="Atras" icon="res://ic_atras" @tap="$navigateBack" />
    </ActionBar>

  <TabView :selectedIndex="selectedIndex">
    <TabViewItem title="Valledupar-Cabo">
      <WebView
        src="<iframe src='https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d1001473.2792308494!2d-73.23945045197442!3d11.334344948040258!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x8e8ab9b5d6cf71d7%3A0x84a43625b14c234a!2sValledupar%2C+Cesar!3m2!1d10.4742449!2d-73.2436335!4m5!1s0x8e8c32a60b453d41%3A0xf1801002fb4b9769!2sCabo+de+La+Vela%2C+Uribia%2C+La+Guajira!3m2!1d12.195475!2d-72.147218!5e0!3m2!1ses!2sco!4v1535499324455'
         width='100%' height='100%'
      allowfullscreen></iframe> "/>
    </TabViewItem>
    <TabViewItem title="Riohacha-Cabo">
      <WebView
        src="<iframe src='https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d500122.2336325633!2d-72.78231802841842!3d11.67988260108036!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x8e8b62ae5191d0d9%3A0xb4b4a0a181b3bbd2!2sRiohacha%2C+La+Guajira!3m2!1d11.5384151!2d-72.91678379999999!4m5!1s0x8e8c32a60b453d41%3A0xf1801002fb4b9769!2sCabo+de+La+Vela%2C+Uribia%2C+La+Guajira!3m2!1d12.195475!2d-72.147218!5e0!3m2!1ses!2sco!4v1535500118095'
         width='100%' height='100%'
      allowfullscreen></iframe> "/>
    </TabViewItem>
  </TabView>
  </Page>
</template>

<script>
    export default {
        name: "Mapa"
    }
</script>

<style scoped>

</style>
