<template>
    <GridLayout rows="auto, *" class="sidedrawer sidedrawer-left" showOverNavigation="true">
        <StackLayout row="0" class="sidedrawer-header">
            <Label class="sidedrawer-header-image fa" text="&#xf2bd;"></Label>
            <Label class="sidedrawer-header-brand" text="User Name"></Label>
            <Label class="footnote" text="username@mail.com"></Label>
        </StackLayout>

        <ScrollView row="1">
            <StackLayout class="sidedrawer-content">
                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/home')" @tap="onNavItemTap('/inicio')">
                    <Label col="1" text="Inicio" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/browse')" @tap="onNavItemTap('/comollegar')">
                    <Label col="1" text="Como Llegar" class="p-r-10"></Label>
                </GridLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/search')" @tap="onNavItemTap('/acuerdo')">
                    <Label col="1" text="Acuerdo Comunitario" class="p-r-10"></Label>
                </GridLayout>

                <StackLayout class="hr-light"></StackLayout>

                <GridLayout columns="auto, *" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/settings')" @tap="onNavItemTap('/acerca')">
                    <Label col="1" text="Acerca de" class="p-r-10"></Label>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </GridLayout>
</template>

<script>
    export default {
        name: "Menu",
        methods:{
            onNavItemTap(ruta){
                console.log(ruta)
            }
        }
    }
</script>

<style scoped>

</style>