<template>
    <Page class="page">
        <ActionBar :height="height" backgroundImage="~/accionbar.jpg">
            <android>
                <NavigationButton icon="res://ic_mapa" @tap="showSideDrawer"/>
            </android>
            <ios>
                <ActionItem icon="res://ic_mapa" ios.position="left" @tap="showSideDrawer"/>
            </ios>


            <Pager for="item in Mensajes" :selectedIndex="selectedIndex">
                <v-template>
                    <FlexboxLayout flexDirection="column-reverse" justifyContent="space-around">
                        <StackLayout alignSelf="center" >
                            <Label :text="item.Wayu" horizontalAlignment="center" fontWeight="bold" :fontSize="fontSize"/>
                            <Label :text="item.Espanol" horizontalAlignment="center" :fontSize="fontSize" marginTop="10"/>
                        </StackLayout>
                    </FlexboxLayout>
                </v-template>
            </Pager>


            <ActionItem @tap="socialShare"
                        ios.systemIcon="9" ios.position="left"
                        icon="res://ic_comparte" android.position="actionBar"/>

            <ActionItem @tap="navigateToInfo"
                        ios.systemIcon="9" ios.position="left"
                        icon="res://ic_info" android.position="actionBar"/>

        </ActionBar>
        <StackLayout>

            <RadListView for="(item,i) in Categorias" margin="0 16">
                <ListViewGridLayout v-tkListViewLayout scrollDirection="Vertical" spanCount="2"/>

                <v-template>
                    <StackLayout margin="8" orientation="vertical" :height="heightCard">

                        <CardView elevation="2" radius="16" @tap="selectItem(item)">
                            <GridLayout>
                                <!--<Image :src="item.Imagen.src"  stretch="aspectFill"/>-->
                                <Image v-if="Object.keys(item.Imagen.src).length !== 0" :src="getImagen(i,item.Imagen)"
                                       stretch="aspectFill"/>
                                <Gradient width="100%" horizontalAlignment="center" direction="to bottom"
                                          :colors="hex2rgb(item.Color)"/>
                                <Label class="p-10 c-white " :text="item.Descripcion" verticalAlignment="bottom"
                                       style="font-size: 16vw"/>
                            </GridLayout>
                        </CardView>

                    </StackLayout>

                </v-template>

            </RadListView>
        </StackLayout>
    </Page>
</template>

<script>
    import Mapa from './components/Mapa'
    import Info from './components/info'
    import ListaPost from './components/ListaPost'
    import {screen} from 'tns-core-modules/platform'
    import * as fs from "file-system";
    import * as imageSourceModule from "tns-core-modules/image-source";
    import * as timerModule  from "tns-core-modules/timer";
    import * as SocialShare from "nativescript-social-share";


    export default {
        name: "App",
        data() {
            return {
                drawer: false,
                selectedIndex:0,
                height: (screen.mainScreen.heightDIPs / 3),
                heightCard: (screen.mainScreen.heightDIPs / 7),
                fontSize: (screen.mainScreen.widthDIPs / 20),
            }
        },
        computed: {
            Categorias() {
                return this.$lodash.orderBy(this.$lodash.map(this.$store.getters[this.$types.gettersCategorias]), ['Uid'], ['desc']);
            },
            Mensajes() {
                let $this = this;
                var data = this.$lodash.map(this.$store.getters[this.$types.gettersMensajes]).splice(1);
                if(data.length>0){
                    timerModule.setInterval(() => {
                        if($this.selectedIndex === data.length){
                            $this.selectedIndex = -1;
                        }
                        $this.selectedIndex++
                    }, 5000);

                }
                return data
            }

        },
        methods: {
            socialShare(){
                SocialShare.shareUrl("https://www.nativescript.org/", "Home of NativeScript", "How would you like to share this url?");
            },
            getImagen(index, imagen) {
                this.documents = fs.knownFolders.documents();
                let path = fs.path.join(this.documents.path, imagen.name + ".jpg");
                let exists = fs.File.exists(path);
                if (exists) {
                    return path
                } else {
                    imageSourceModule.fromUrl(imagen.src)
                        .then((imageSource) => {
                            this.documents = fs.knownFolders.documents();
                            let path = fs.path.join(this.documents.path, imagen.name + ".jpg");
                            const saved = imageSource.saveToFile(path, "jpg");
                            if (saved) {
                                console.log("Image saved successfully!");
                            }
                        }).catch(error => console.log(error));
                    return imagen.src;
                }
            },
            hex2rgb(hex) {
                hex = (hex + '').trim();
                var rgb = null, match = hex.match(/^#?(([0-9a-zA-Z]{3}){1,3})$/);
                if (!match) {
                    return null;
                }
                rgb = {}
                hex = match[1];
                // check if 6 letters are provided
                if (hex.length == 6) {
                    rgb.r = parseInt(hex.substring(0, 2), 16);
                    rgb.g = parseInt(hex.substring(2, 4), 16);
                    rgb.b = parseInt(hex.substring(4, 6), 16);
                }
                else if (hex.length == 3) {
                    rgb.r = parseInt(hex.substring(0, 1) + hex.substring(0, 1), 16);
                    rgb.g = parseInt(hex.substring(1, 2) + hex.substring(1, 2), 16);
                    rgb.b = parseInt(hex.substring(2, 3) + hex.substring(2, 3), 16);
                }
                const color = rgb.r + ',' + rgb.g + ',' + rgb.b;
                return 'rgba(' + color + ',0),rgba(' + color + ',0.4),rgba(' + color + ',1)'
            },
            showSideDrawer() {
                this.$navigateTo(Mapa);
            },
            navigateToInfo() {
                this.$navigateTo(Info);
            },
            selectItem(Categoria) {
                this.$navigateTo(ListaPost, {context: {propsData: {id: Categoria}}});
            },
        }

    }
</script>

<style scoped lang="scss">


</style>