<template>
  <div>
    <v-btn v-if="editar"  flat color="blue" @click="openModal">Editar</v-btn>


    <v-dialog v-model="dialog">
      <v-btn
        v-if="!editar"
        color="primary"
        dark
        fab
        small
        slot="activator"
      > <v-icon>art_track</v-icon></v-btn>
      <v-card>
        <v-container fluid class="pa-16 ma-16">
          <v-layout wrap justify-center>
            <!--Informacion-->
            <v-flex xs4>
              <v-card >
                <v-card-title primary-title class="primary dark white--text">
                  <h3 class="headline mb-0">Informacion</h3>
                </v-card-title>
                <v-card-text class="px-16">
                  <v-select
                    v-model="formData.Categoria"
                    :items="categorias"
                    label="Categoria"
                    item-value="Uid"
                    item-text="Descripcion"
                    chips
                  ></v-select>

                  <v-divider></v-divider>
                  <v-text-field
                    label="Titulo"
                    v-model="formData.Titulo"
                    :error-messages="error.Titulo"
                    single-line
                    full-width
                  ></v-text-field>

                  <v-divider></v-divider>
                  <v-text-field
                    v-model="formData.Descripcion"
                    :error-messages="error.Descripcion"
                    label="Descripcion"
                    full-width
                    multi-line
                    single-line
                  ></v-text-field>

                  <v-select
                    v-if="formData.Tags"
                    v-model="formData.Tags"
                    :items="formData.Tags"
                    label="Tags"
                    chips
                    tags
                  ></v-select>

                </v-card-text>
              </v-card>
            </v-flex>

            <!--Galeria-->
            <v-flex xs4>
              <v-card>
                <v-card-title primary-title class="primary dark white--text">
                  <h3 class="headline mb-0">Galeria</h3>
                </v-card-title>
                <v-card-text class="px-16">
                  <v-alert :value="error.Galeria.length != 0" type="error">
                    {{ error.Galeria[0] }}
                  </v-alert>
                  <div class="text-xs-center">


                    <!-- <input
                       style="display: none;"
                       ref="fileInput"
                       type="file"
                       accept="image/*"
                       multiple
                       @change="changeFiles">-->
                    <image-uploader ref="fileInput"  @input="setImage" :preview="false" >
                    </image-uploader>

                    <v-dialog v-model="dialogYoutube">
                      <v-btn round color="primary" dark slot="activator">Uid Youtube</v-btn>
                      <v-layout justify-center>
                        <v-flex xs12 sm10 md8 lg6>
                          <v-card >
                            <v-card-text>
                              <v-text-field
                                ref="name"
                                v-model="UidYoutube"
                                :rules="[() => !!UidYoutube || 'This field is required']"
                                label="Key Video"
                                required
                              ></v-text-field>

                            </v-card-text>
                            <v-divider></v-divider>
                            <v-card-actions>
                              <v-btn flat @click="dialogYoutube = !dialogYoutube">Cerrar</v-btn>
                              <v-spacer></v-spacer>
                              <v-btn color="primary" flat @click="changeVideo">Guardar</v-btn>
                            </v-card-actions>
                          </v-card>
                        </v-flex>
                      </v-layout>

                    </v-dialog>

                  </div>
                  <v-carousel style="height: 370px !important;" interval="60000">
                    <v-carousel-item v-for="(item,i) in carrisel" :key="i"  max-width="100%" >

                      <v-card-media v-if="item.Tipo ==='Imagen'" :src="item.src" height="320px"></v-card-media>
                      <iframe v-else width="100%" height="320px" :src="'https://www.youtube.com/embed/'+item.src" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                    </v-carousel-item>
                  </v-carousel>

                </v-card-text>
              </v-card>
            </v-flex>

            <!--Contacto-->
            <v-flex xs4 v-if="formData.Contacto">
              <v-card >
                <v-card-title primary-title class="primary dark white--text">
                  <h3 class="headline mb-0">Contacto</h3>
                </v-card-title>
                <v-card-text class="px-16">

                  <v-divider></v-divider>
                  <v-text-field
                    v-model="formData.Contacto.Nombre"
                    label="Nombre"
                    single-line
                    full-width
                    hide-details
                  ></v-text-field>

                  <v-divider></v-divider>
                  <v-text-field
                    v-model="formData.Contacto.Correo"
                    label="Correo"
                    single-line
                    full-width
                    hide-details
                  ></v-text-field>

                  <v-divider></v-divider>
                  <v-text-field
                    v-model="formData.Contacto.Telefonos"
                    label="Telefonos"
                    single-line
                    full-width
                    hide-details
                  ></v-text-field>

                  <v-divider></v-divider>
                  <v-text-field
                    v-model="formData.Contacto.Whatsapp"
                    label="Whatsapp"
                    single-line
                    full-width
                    hide-details
                  ></v-text-field>

                </v-card-text>

              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn flat @click="Cancelar">Cerrar</v-btn>
          <v-spacer></v-spacer>
          <v-btn color="primary" flat @click="Guardar" :loading="loading">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>


</template>

<script>
  import model from '../model/Posts'
  import { ImageUploader } from 'vue-image-upload-resize'

  export default {
    props:['Data','editar'],
    components: {
      ImageUploader
    },
    data(){
      return {
      dialog: false,
      loading:false,
      dialogYoutube: false,
      Imagenes:[],
      Videos:[],
      UidYoutube:'',
      formData: model,
      error:{
        Titulo:[],
        Descripcion:[],
        Galeria:[]
      }

    }
    },
    computed: {
      carrisel(){
         var subuda = this.Imagenes.concat(this.Videos);
         return this.$lodash.map(this.formData.Galeria).concat(subuda)
      },

      categorias(){
        return this.$lodash.map(this.$store.getters[this.$types.gettersCategorias]);
      },
      selectCategoria(){
        return this.$lodash.filter(this.categorias,{Uid:this.formData.Categoria})[0];
      }
    },
    methods:{
      openModal(){
        this.dialog = true;
        this.formData = (this.editar)?{...this.Data}:model;
      },
      setImage: function (file) {
        let name =new Date().getTime().toString();
        this.Imagenes.push({Tipo:'Imagen',src:file, name:name});
      },
      asingfrm(){
        if(this.editar){
          if(!this.item.Contacto ){
            this.item.Contacto = model.Contacto;
          }

        }
      },
      clickFiles(){
        this.$refs.fileInput.click();
      },
      changeVideo(){
        if(this.UidYoutube ===''){
           return;
        }
        let name = new Date().getTime().toString();
        this.Videos.push({Tipo:'Video',src:this.UidYoutube, name:name});
        this.UidYoutube = '';
        this.dialogYoutube = !this.dialogYoutube;
      },
      changeFiles (event) {
        let $this = this;
        const file = event.target.files;
          Array.from(Array(file.length).keys()).map( x => {
            this.$store.dispatch(this.$types.actionsComprimirImagen,file[x]).then((res)=>{
              let name =new Date().getTime().toString();
              $this.Imagenes.push({Tipo:'Imagen',src:res, name:name});
            })
          })
      },
      Guardar(){
        if(!this.formData.Titulo){
          this.error.Titulo= ["Titulo Requerido"];
          return;
        }
        if(!this.formData.Descripcion){
          this.error.Descripcion= ["Descripcion Requerida"];
          return;
        }


        //cattegoria
       // this.formData.CategoriaNombre = this.selectCategoria.Nombre;

        // separo las imagenes .filter(users, { 'age': 36, 'active': true });
     //   let Galeria = this.$lodash.map(this.formData.Galeria);
       // const files =this.$lodash.filter(Galeria,{ Tipo:'Imagen'});
        //const videos =this.$lodash.filter(Galeria,{ Tipo:'Video'});
        //this.formData.Galeria.push(this.Videos);
        this.loading = true;
        this.Videos.forEach((data)=>{
          this.formData.Galeria[data.name] = data;
        });
        let $this = this;
        if(this.editar){
          this.formData.Edicion = new Date().getTime().toString();
        }else{
          this.formData.Creacion = new Date().getTime().toString();
        }

        this.$store.dispatch(this.$types.actionsGuardar,[this.$types.pathStatesPosts,this.formData]).then((data)=>{
          if(this.Imagenes.length===0){
            $this.Cancelar();
            return
          }
          $this.$store.dispatch(this.$types.actionsSubir,[this.$types.pathStatesPosts,{Galeria:data.Uid},this.Imagenes,true]).then(()=>{
            $this.Cancelar()
          });
        }).catch((e)=>console.log(e))
      },
      Cancelar(){
        this.dialog = this.loading = false;
        this.Videos = [];
        this.Imagenes = [];
      }
    }
  }
</script>

<style scoped>
  img{
    max-width: 100% !important;
  }
  #fileInput{
    display: none !important;
  }

</style>
