<template>
  <v-layout row justify-center>
    <v-icon v-if="editar" @click="openModal">edit</v-icon>
    <v-dialog v-model="dialog" persistent max-width="1250px">
      <v-btn
        v-if="!editar"
        slot="activator"
        color="primary"
        dark
        fab
        small
      > <v-icon>category</v-icon></v-btn>
      <v-card>
        <v-card-title>
          <span class="headline">Categorias</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12>
                <v-text-field label="Descripcion" required v-model="formData.Descripcion"> </v-text-field>
              </v-flex>
              <v-flex xs6>
                <photoshop v-model="formData.Color"></photoshop>

              </v-flex>
              <v-flex xs6>

                <v-btn block class="primary" @click="onPickFild">Subir Imagen</v-btn>
                <input
                  style="display: none;"
                  ref="fileInput"
                  type="file"
                  accept="image/*"
                  @change="detectFiles">
                <img :src="imageUrl" width="60%" alt="" class="px-0">
              </v-flex>

            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="Cancelar">Cerrar</v-btn>
          <v-btn color="blue darken-1" flat @click.native="oncreate" :loading="loading">Guardar</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>

  import Slider from "vue-color/src/components/Slider";
  import Photoshop from "vue-color/src/components/Photoshop";
  import model from '../model/Categoria'
  export default {
    props:['Data','editar'],
    components: {Photoshop, Slider},
    data: () => ({
      dialog: false,
      loading:false,
      imageUrl:null,
      formData:{
        Descripcion:'',
        Imagen:'',
        Color:'#194d33'

      }
    }),
    created(){
      window.bus.$on('editarCategoria',(data)=>{
        console.log(data)
      })
    },
    methods: {
      openModal(){
        this.dialog = true;
        this.formData = (this.editar)?{...this.Data}:model;
      },
      onPickFild(){
        this.$refs.fileInput.click();
      },
      detectFiles (event) {
        const file = event.target.files;
        const filename = file[0].name;
        if(filename.lastIndexOf('.')<=0){
          return alert('')
        }

        const filereader = new FileReader();
        filereader.addEventListener('load',()=>{
          this.imageUrl = filereader.result
        });

        filereader.readAsDataURL(file[0])

      /*  Array.from(Array(fileList.length).keys()).map( x => {
          this.upload(fileList[x])
        })*/
      },
      oncreate(){
        let $this = this;
        this.loading = true;
        this.formData.Color = this.formData.Color.hex;
        this.$store.dispatch(this.$types.actionsGuardar,[this.$types.pathStatesCategorias,this.formData]).then((data)=>{
          //envio de archivos
          let file =[{
            src:this.imageUrl,
            name:new Date().getTime().toString()
          }];

          $this.$store.dispatch(this.$types.actionsSubir,[this.$types.pathStatesCategorias,{Imagen:data.Uid},file,false]).then(()=>{
            $this.Cancelar()
          });
        })

      },
      Cancelar(){
        this.formData = Object.assign({}, {
          Descripcion:'',
          Imagen:'',
          Uid:null,
          Color:'#000'
        });
        this.imageUrl = '';
        this.dialog = this.loading = false;
      }
    }
  }
</script>

<style scoped>

</style>
