<template>

  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>Inicia Sesión</v-toolbar-title>

                <v-spacer></v-spacer>
              </v-toolbar>
              <v-form @submit="Inicio" >
                <v-card-text>
                  <!--<v-alert v-if="error !== null" type="error" :value="error !== null">
                      {{ error.message}}
                  </v-alert>-->
                  <v-progress-linear v-if="loading" :indeterminate="loading"></v-progress-linear>

                  <v-text-field v-model.trim="formData.email" prepend-icon="person" name="login" label="Usuario" type="text"></v-text-field>

                  <v-text-field
                    v-model="formData.password"
                    prepend-icon="lock"
                    label="Contraseña"
                    hint="Al menos 8 carácteres"
                    min="8"
                    :append-icon="e2 ? 'visibility' : 'visibility_off'"
                    :append-icon-cb="() => (e2 = !e2)"
                    :type="e2 ? 'password' : 'text'"
                  ></v-text-field>

                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <input  class="btn primary" type="submit" value="Iniciar">
                </v-card-actions>
              </v-form>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  export default {
    data () {
      return {
        formData:{
          email: '',
          password: ''
        },
        e2: true,

      }
    },
    computed:{
      error () {
        //  return this.$store.getters[types.storeUsuariosGetError]
      },
      loading () {
        // return this.$store.getters[types.storeUsuariosGetLoading]
      }
    },
    name: "iniciar",
    methods:{
      Inicio(e){
        e.preventDefault();
        let $this = this;
        this.$store.dispatch(this.$types.actionsIngresarEmail, this.formData).then(()=>{
          this.$store.dispatch(this.$types.actionsonAuthStateChanged).then(()=>{
            $this.$router.replace('lista-post')
          }).catch((error)=>{
            console.error(error);
          })

        }).catch((error)=>{



        })
      }
    }
  }
</script>

<style scoped>

</style>
