<template>
  <div>
    <v-toolbar  color="blue" dark tabs>

      <tabs-categoria slot="extension" @categoriaid="categoria" @editarCategoria="editarCategoria"></tabs-categoria>
    </v-toolbar>

    <v-container fluid grid-list-sm>
      <v-layout row wrap>
        <v-flex v-for="(item,i) in items" :key="i" xs4>
          <v-card>
            <v-carousel style="height: 370px !important;" interval="60000">
              <v-carousel-item v-for="(media,i) in item.Galeria" :key="i"  max-width="100%" >

                <v-card-media v-if="media.Tipo ==='Imagen'" :src="media.src" height="320px"></v-card-media>
                <iframe v-else width="100%" height="320px" :src="'https://www.youtube.com/embed/'+media.src" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

              </v-carousel-item>
            </v-carousel>
            <v-card-title primary-title>
              <div>
                <h3 style="height: 60px;" class="headline mb-0" v-text="item.Titulo"></h3>
                <div style="min-height: 100px;" v-text="item.Descripcion.substr(0,200)+'...'"></div>
              </div>
            </v-card-title>
            <v-card-actions>
              <v-btn flat color="red" @click.native="eliminar(item.Uid)">Eliminar</v-btn>

              <form-post :Data="item" :editar="true"></form-post>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <v-speed-dial
      fixed
      bottom
      right
    >
      <v-btn
        slot="activator"
        color="blue darken-2"
        dark
        fab
      >
        <v-icon>add</v-icon>
        <v-icon>close</v-icon>
      </v-btn>
      <form-categoria :editar="false"></form-categoria>
      <form-post :editar="false"></form-post>
    </v-speed-dial>
  </div>
</template>

<script>
  import FormCategoria from'./FormCategoria'
  import FormPost from'./FormPost'
  import TabsCategoria from'./TabsCategoria'

  export default {
    components:{ FormPost,FormCategoria,TabsCategoria},
    computed:{
      items(){
        let $this = this;
        return this.$lodash.filter(this.$store.getters[this.$types.gettersPosts], function(o) { return ($this.categoriaid)? o.Categoria===$this.categoriaid:true });
      }
    },
    data () {
      return {
        categoriaid:"",
        busy: false,
        posts: []
      }
    },
    name: 'App',
    mounted(){
      this.$store.dispatch(this.$types.actionsCargar,this.$types.pathStatesPosts)
      // this.$store.dispatch(this.$types.actionsGuardar,[this.$types.pathStatesPost,{'valor':'data'}]).then(()=>console.log('ok')).catch((error)=>console.log(error))
      //this.$store.dispatch(this.$types.actionsCargar,this.$types.pathStatesPost).then((data)=>console.log(data)).catch((error)=>console.log(error));
      //this.$store.dispatch(this.$types.actionsEliminar,[this.$types.pathStatesPost,'-LDh_2XwEbaYG8E4r_Cz']).then(()=>console.log('ok')).catch((error)=>console.log(error))
    },
    methods:{
      editarCategoria(item){
        console.log(item)
      },
      categoria(uid){
        this.categoriaid = uid;
      },
      eliminar(uid){
        this.$store.dispatch(this.$types.actionsEliminar,[this.$types.pathStatesPosts,uid]).then(()=>{
          alert('Post Eliminado')
        })
      }

    }
  }
</script>

<style scoped>

</style>
