<template>
  <v-tabs
    centered
    slider-color="white"
    color="transparent"
  >
    <v-tab
      v-for="(n,i) in items"
      :key="i"
      @click="$emit('categoriaid', n.Uid)"
    >
      {{ n.Descripcion }} <br>
      <form-categoria :editar="true" :Data="n"></form-categoria>

    </v-tab>
  </v-tabs>
</template>

<script>
  import FormCategoria from './FormCategoria'
    export default {
        name: "tabsCategoria",
      components:{ FormCategoria},
      computed:{
        items(){
          return this.$store.getters[this.$types.gettersCategorias]
        }
      },
      created(){
          this.$store.dispatch(this.$types.actionsCargar,this.$types.pathStatesCategorias)
      },
      methods:{
          edit(item){
            console.log('edit')
            window.bus.$emit('editarCategoria', item)
          }
      }
    }
</script>

<style scoped>

</style>
